<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Bootstrap CSS -->
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
         rel="stylesheet"
      />
      <!-- Bootstrap Bundle JS (includes Popper) -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/js/bootstrap.bundle.min.js"></script>

      <link rel="stylesheet" href="../css/global.css" />

      <script type="module" src="../web-components/izbornik.js"></script>
      <script type="module" src="../scripts/admin.js"></script>

      <script
         type="module"
         src="../web-components/objectsTable.js"
      ></script>
          <script
         type="module"
         src="../web-components/poolsTable.js"
      ></script>


      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Document</title>
   </head>
   <body>
      <div id="wrapper">
         <!-- Sidebar -->
         <div id="sidebar-wrapper">
            <nav-menu></nav-menu>
         </div>
         <!-- /#sidebar-wrapper -->
      </div>

      <!-- /#na stranici -->
      <div id="sadrzaj" class="col-md-8">
         <div class="container my-5">
            <h2 class="text-center">Admin panel</h2>

            <!-- dodavanje novog objekta  -->
            <div class="card">
               <div class="card-body">
                  <div class="row">
                     <p style="font-weight: 700">
                        Dodavanje novog objekta u bazu:
                     </p>
                     <form action="" id="newObjectForm">
                     <div class="col-md-12">
                        <label class="form-label">Ime novog objekta:</label>
                        <input
                           type="text"
                           name="name"
                           required
                           class="form-control"
                        />
                     </div>

                     <div
                        class="m-4 d-flex justify-content-center align-items-center"
                     >
                        <input
                           id="newObjectButton"
                           type="button"
                           value="Dodaj"
                           class="btn btn-dark"
                           style="height: min-content; width: min-content"
                        />
                     </div>
                     </form>
                  </div>

                  <p>Svi objekti:</p>
                  <objects-table id="objectsTable"></objects-table>

                  
               </div>
            </div>

            <!-- dodavanje novog bazena -->
            <div class="card">
              <div class="card-body">
                 <form  id="newPoolForm" >
                  <div class="row">
                     <p style="font-weight: 700">
                        Dodavanje novog bazena u bazu:
                     </p>
                     <!-- pools by object -->
                    


                     <!-- select obj -->

                     <div class="col-md-6 mb-4">
                        <label  class="form-label"
                           >Objekt:
                        </label>
                        <select
                           id="objectSelection"
                           name="obj"
                           class="form-select"
                           required
                        >
                        </select>
                     </div>
                     <p>Bazeni u tom objektu:</p>
                      <pools-table id="poolsTable">
                    </pools-table>
                     <!-- ime bazena  -->
                     <div class="col-md-6">
                        <label class="form-label">Ime novog bazena:</label>
                        <input
                           type="text"
                           name="name"
                           required
                           class="form-control"
                        />
                     </div>

                    <!-- kapacitet bazena  -->
                     <div class="col-md-4 mb-4">
                        <label for="" class="form-label"
                           >Kapacitet bazena:
                        </label>
                        <input
                           id="capacity"
                           name="capacity"
                           type="number"
                           class="form-select "
                           required
                        />
                        
                     </div>

                     <!-- je li spa  -->
                     <div class="col-md-2">
                        <label class="form-label">Spa:</label>
                         <select
                           id="spa"
                           name="spa"
                           class="form-select "
                           required
                        >
                        <option value="true" selected >DA</option>
                        <option value="false" selected >NE</option>
                        </select>
                     </div>

                    <!-- vrsta vode  -->
                     <div class="col-md-4">
                        <label class="form-label">Vrsta vode:</label>
                         <select
                           id="water"
                           name="water"
                           class="form-select"
                           required
                        >
                        <option value="FRESH" selected >Slatka voda</option>
                        <option value="SEA" selected >Morska voda</option>
                        <option value="MIX" selected >Miješano</option>
                        </select>
                     </div>

                     <!-- button -->
                     <div
                        class="m-4 d-flex justify-content-center align-items-center"
                     >
                        <input
                           id="newPoolButton"
                           type="button"
                           value="Dodaj"
                           class="btn btn-dark"
                           style="height: min-content; width: min-content"
                        />
                     </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- /#wrapper -->
   </body>
</html>
